<div class="task-manager">

  <div class="task-manager__title">
    <h1>Task Manager</h1>
    <div class="task-manager__divider"></div>
  </div>
  <div class="task-manager__container">
    <to-do-list [(taskList)]="taskList"  />
    <form type="submit">
      <div class="task-manager__container-input">
        <input placeholder="Type a text..." class="input" [value]="inputValue" (input)="inputChange($event)" />
        <div class="task-manager__button-container">
          <button [disabled]="!inputValue"  class="new-button" (click)="handleClick()" >Add task</button>
        </div>
      </div>

    </form>
  </div>

</div>
